<%= render "shared/header" %>
<div class='main'>

  <%# メニューバー %>
  <div class="side-bar-header">
    <ul class="ddmenu">
      <li><a href="#">メニュー</a>
        <ul>
          <li><a href="#">フレンド</a></li>
          <li><a href="#">メッセージ</a></li>
          <li><a href="#">リンク</a></li>
          <li><a href="#">リンク</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <%# /メニューバー %>

  <%# 投稿一覧 %>
  <div class="main-post">
    <% @posts.each do |post| %>
      <div class="post-contents">
      <h4>募集文</h4>
      <div class="created"><%= l post.created_at %></div>
      <%# <%= link_to post_path(post.id),class:"post-link" do %>
      <div class="more">
          <%# <li><span><a><%= image_tag 'circle.png',class:"more-lists"</a></span></li> %>
          <ul>
            <li>
              <a><%= link_to '詳細', post_path(post.id), method: :get %></a>
            </li>
            <% if user_signed_in? && current_user.id == post.user_id %>
            <li>
              <%= link_to '編集', edit_post_path(post.id), method: :get %>
            </li>
            <li>
              <%= link_to '削除', post_path(post.id), method: :delete %>
            </li>
            <% end %>
          </ul>
      </div>
        <table>
          <thead>
            <tr>
              <th>タイトル</th>
              <th>プラットフォーム</th>
              <th>目的</th>
              <th>募集ユーザー</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class = "post-title">
                <%= post.title %>
              </td>
              <td class = "post-platform">
                <%= post.platform.name %>
              </td>
              <td class = "post-purpose">
                <%= post.purpose.name %>
              </td>
              <td class = "post-user">
                <%= post.user.nickname %>
              </td>
            </tr>
            <%# <tr>
              <td class = "post-text">
                <%= post.text %>
              <%# </td> %>
            <%# </tr> %>
          </tbody>
        </table>
        <div class ="main-post-text">
          <%= post.text %>
        </div>
      <%# <% end %>
      </div>
    <% end %>
  </div>
  <%# /投稿一覧 %>

  <%# その他のコンテンツ %>
  <div class = "contents">
    <ul class="slider">
      <li><%= link_to image_tag("https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/apex-featured-image-16x9.jpg.adapt.crop16x9.1023w.jpg", size: '288x192', class:"img"), "https://www.ea.com/ja-jp/games/apex-legends/news" %></li>
      <li><%= link_to image_tag("https://automaton-media.com/wp-content/uploads/2020/10/20201020-140627-header-696x392.jpg", size: '288x192', class:"img"), "https://www.ea.com/ja-jp/games/apex-legends/maps" %></li>
      <li><%= link_to image_tag("https://yayuyota.jp/wp-content/uploads/2021/03/twitter-bird-blue-top1.png", size: '288x192', class:"img"), "https://twitter.com/PlayApex?s=20" %></li>
      <li><img src="https://www.gamespark.jp/imgs/zoom/441310.jpg" alt=""></li>
      <li><img src="https://pbs.twimg.com/media/EzWkwFzVgAQp1Ub.jpg" alt=""></li>
    </ul>
  </div>
  <%# /その他のコンテンツ %>

</div>
<%= render "shared/footer" %>